    <div class="container">
        <div class="row">
            <div class="col-sm-8">
				&copy;  {{ "now"|date("Y") }} {{ this.theme.site_name }}. All Rights Reserved. A <a href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates" target="_blank">ShapeBootstrap</a> Theme &#123;&#123; Powered by <a href="http://octobercms.com/">OctoberCMS</a> &#125;&#125;
            </div>
            <div class="col-sm-4">
                <ul class="pull-right">
                    <li><a href="{{ 'home'|page }}">Home</a></li>
                    <li><a href="{{ 'samples/about'|page }}">About Us</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="{{ 'samples/contact'|page }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
